body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    
}
.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.game-header{
    text-align: center;
    padding: 20px;
    color: #ecedf0;
    background-color: cadetblue;

}
    
.stat{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    
}
.start-game-button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 16px;

  justify-content: center;
  align-content: center;

  min-height: 70vh;
}
.card {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5rem;
  border-radius: 8px;
  backface-visibility: hidden;
}

.card-front {
  background: #2c3e50;
  color: white;
}

.card-back {
  background: #ecf0f1;
  transform: rotateY(180deg);
}
